{% for post in posts %}

    {% set params = {} %}
    {% for arg in args %}
        {% if arg.value != '' %}
            {% set params = params|merge({(arg.route):arg.value}) %}
        {% else %}
            {% if arg.alias == 'p' %}
                {% set params = params|merge({(arg.route):attribute(post,arg.column)}) %}
            {% elseif arg.alias == 'c' %}
                {% set params = params|merge({(arg.route):attribute(post.categories[0],arg.column)}) %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="row">
        <article>
            <div class="col-md-4">
                <img src="{{ asset('/public/media'~post.thumbnail.path) }}" alt="" style="width:100%;">
            </div>
            <div class="col-md-8">
                <h2><a href="{{ link(route,params) }}">{{ post.title }}</a></h2>
                <p>{{ post.description }}</p>
                <em>{{ post.updated_at | date("d/m/Y") }}</em>
            </div>
        </article>
    </div>
{% endfor %}

{% if pagination.pages_count > 1 %}
    <div class="row">
        <ul class="pagination center-align">
            {% if pagination.page>1 %}
                <li class="waves-effect"><a href="?page=1"><<</a></li>
                <li class="waves-effect"><a href="?page={{ pagination.page-1 }}"><</a></li>
            {% endif %}
            {% for p in range(max(pagination.page-4, 1),min(pagination.page+4, pagination.pages_count)) %}
                <li class="{% if p == pagination.page %}active{% else %}waves-effect{% endif %}"><a class="current-page"
                                                                                                    href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if pagination.page<pagination.pages_count %}
                <li class="waves-effect"><a href="?page={{ pagination.page+1 }}">></a></li>
                <li class="waves-effect"><a href="?page={{ pagination.pages_count }}">>></a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}